{% extends 'boot.html.twig' %}

{% block header %}
<div class="row">
  <div class="span8">
    
    {% for artwork_id,artwork_page in artwork_kinds %}
      {% if artwork_id == filter_artwork %}
      <h1>'{{ select_artwork }}'</h1>
      <h3><span style="font-weight:normal;color:#aaa;">[ {{ "now"|date('Y') }} ]</span></h3>
      <h4><a href="/artwork/">Artwork</a> :: <a href="/artwork/{{ filter_artwork }}">{{ artwork_page.heading }}</a><br /> </h4>
        
      
  </div>
  <div class="span4">
    <p>{{ artwork_page.description }}.</p>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}


{% block container %}
<div class="row" id="wall">
   
    {% for image in artwork %}
      {% if image.kind == filter_artwork %} 
        {% if image.name == select_artwork %}
          <div class="displayart span12">
            
              <img src="/img/artwork/{{ image.kind }}/page/p_{{ image.name }}.{{ image.format }}" alt="{{ image.name }}"/>
          
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  
</div>
{% endblock %}


{# % block container %}
      <div class="row">
        <div class="span4 portfolio-class portfolio-class-visualisations">
          <h3>Visualisations</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-collages">
          <h3>Collages</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-websites">
          <h3>Websites</h3>
        </div>
      </div>
{% endblock % #}