{% extends 'boot.html.twig' %}

{% block header %}
<div class="row">
  <div class="span6">
    <h1>Artwork</h1>
  </div>
  <div class="span6">
    <p>.</p>
  </div>
</div>
{% endblock %}


{% block container %}
<div class="">
  <ul class="artwork-list row">
  {% for href,kind in artwork_kinds %}
    <a href="/artwork/{{ href }}/" class="span3"><li>{{ kind.heading }}</li></a>
  {% endfor %}
  </ul>
</div>


<div class="row" id="wall">
  {% for image in artwork %}
    <div class="box span2"><img src="/img/artwork/{{ image.kind }}/thumbnail/t_{{ image.name }}.{{ image.format }}" alt="{{ image.name }}"/></div>
  {% endfor %}
</div>
{% endblock %}


{# % block container %}
      <div class="row">
        <div class="span4 portfolio-class portfolio-class-visualisations">
          <h3>Visualisations</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-collages">
          <h3>Collages</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-websites">
          <h3>Websites</h3>
        </div>
      </div>
{% endblock % #}