{% extends 'boot.html.twig' %}

{% if uri[2] == 'gallery' %}
  {% set selection = artwork_galleries %}
{% else %}
  {% set selection = artwork_kinds %}
{% endif %}


{% block header %}
<div class="row">
  <div class="span6">
    <h1><a href="/artwork/">Artwork</a></h1>
    {% for artwork_id,artwork_page in selection %}
      {% if artwork_id == filter_artwork %}
        {% if selection == artwork_galleries %}
          <h2>"{{ artwork_page.heading }}"</h2>
        {% else %}
          <h2>{{ artwork_page.heading }}</h2>
        {% endif %}
  </div>
  <div class="span6">
    <p>{{ artwork_page.description }}.</p>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}


{% block container %}
<div class="row" id="wall">
    {% for image in artwork %}
      {% if selection == artwork_kinds %}
        {% if image.kind == filter_artwork %} 
          <div class="box span3">
            <a href="/artwork/{{ image.kind }}/{{ image.name }}/">
              <img src="/img/artwork/{{ image.kind }}/thumbnail/t_{{ image.name }}.{{ image.format }}" alt="{{ image.name }}"/>
            </a>
          </div>
        {% endif %}
      {% else %}
        {% if image.gallery == filter_artwork %} 
          <div class="box span3">
            <a href="/artwork/gallery/{{ image.gallery }}/{{ image.name }}/">
              <img src="/img/artwork/z_gallery/{{ image.gallery }}/thumbnail/t_{{ image.name }}.{{ image.format }}" alt="{{ image.name }}"/>
            </a>
          </div>
        {% endif %}
      {% endif %}

    {% endfor %}
  
</div>
{% endblock %}


{# % block container %}
      <div class="row">
        <div class="span4 portfolio-class portfolio-class-visualisations">
          <h3>Visualisations</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-collages">
          <h3>Collages</h3>
        </div>
        <div class="span4 portfolio-class portfolio-class-websites">
          <h3>Websites</h3>
        </div>
      </div>
{% endblock % #}